@import url('./reset.css');

.page{
	padding: 30px 30px;
	width: 100%;
  	aspect-ratio: 0.71;
  	display: flex;
  	flex-direction: column;
  	background-color: #ffffff;
}
.content{
	margin-top: 20px;
	margin-block: 20px;
}
.input{
	min-height: 20px;
	border-bottom: 1px solid black;
	padding: 0 8px;
	font-size: 15px;
	font-style: italic;
	display: inline-block;
}
.input.small-text{
	font-size: 13px;
}
.input.dotted{
	border-bottom: 1px dotted black;
}
.checkbox{
	width: 15px;
	height: 15px;
	border: 1px solid black;
	display: flex;
	align-items: column;
	justify-content: center;
	font-size: 14px;
	color: black;
	flex: 0 0 15px;
}
.txt .checkbox{
	display: inline-flex;
	margin: 0 6px -2px 10px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.w-auto{
	width: auto;
	flex: 0 0 auto;
	max-width: calc(100% - 50px);
}
.fullw{
	width: 100%;
}
.mw-80{
	min-width: 80px;
}
.mw-100{
	min-width: 100px;
}
.mw-150{
	min-width: 150px;
}
.mw-200{
	min-width: 200px;
}
.mw-300{
	min-width: 300px;
}
.mw-320{
	min-width: 320px;
}
.mw-400{
	min-width: 400px;
}
.flex .fullw{
	flex-grow: 1;
}

.w-50{
	width: calc(50% - 6px);
}
.w-55{
	width: calc(55% - 6px);
}
.w-80{
	width: calc(80% - 6px);
}
.w-20{
	width: calc(20% - 6px);
}
.w-25{
	width: calc(25% - 6px);
}
.w-30{
	width: calc(30% - 6px);
}




